<div class="general-content">
    <div class="title">
        <h1>Fechas</h1>
        <div class="search">
            <button class="search__add">
                <i class="far fa-plus-square fa-lg"></i>
                Agregar Fechas
            </button>
        </div>
    </div>
    <hr>
    <div class="content-fechas">
        <div class="fecha">
            <div class="icon">
                <i class="far fa-edit"></i>
            </div>
            <div class="fecha-titulo">
                <h3>Acreditacion</h3>
                <h4>2020/05/13</h4>
            </div>
        </div>
        <div class="fecha">
            <div class="icon">
                <i class="far fa-edit"></i>
            </div>
            <div class="fecha-titulo">
                <h3>Rendimiento</h3>
                <h4>2020/05/13</h4>
            </div>
        </div>
        <div class="fecha">
            <div class="icon">
                <i class="far fa-edit"></i>
            </div>
            <div class="fecha-titulo">
                <h3>Vencimiento</h3>
                <h4>2020/05/13</h4>
            </div>
        </div>
    </div>
</div>
