
<app-store-add-modal (storeEvent)="receiveStore($event)" (modalEvent)="receiveModal($event)" [open]="openAdd"></app-store-add-modal>
<app-store-edit-modal (storeEvent)="receiveStore($event)" (modalEvent)="receiveModal($event)" [open]="openEdit" [id]="idStore"></app-store-edit-modal>


<div class="general-content">
    <div class="title">
        <h1>Comercios</h1>
        <div class="search">
            <button class="search__add" (click)="openAdd = true">
                <i class="far fa-plus-square fa-lg"></i>
                Agregar Comercio
            </button>
            <input type="text" placeholder="Search...">
            <button class="search__btn"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Tipo</th>
                    <th>Provincia</th>
                    <th>Telefono</th>
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let store of stores | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }">
                    <td>{{ store.id }}</td>
                    <td>{{ store.name }}</td>
                    <td>{{ store.address }}</td>
                    <td>{{ store.type_store_id }}</td>
                    <td>{{ store.province_id }} </td>
                    <td>{{ store.phone }}</td>
                    <td>
                        <i class="far fa-edit fa-lg" (click)="showModalEdit(store.id)"></i>
                        <i class="far fa-trash-alt fa-lg"></i>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <pagination-controls [previousLabel]="'Ant'" [nextLabel]="'Sig'" (pageChange)="pageChanged($event)">
                        </pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
</div>
