<app-beneficiario-add-modal [open]="openAdd"></app-beneficiario-add-modal>
<ng-template #contenidoEdit let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar Beneficiario</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="beneficiarioFormEdit" (ngSubmit)="onEdit()">
            <div class="row">
                <div class="col-12 my-1">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                    <div *ngIf="nameEdit.invalid && (nameEdit.dirty || nameEdit.touched)"
                        class="alert alert-danger my-2">
                        <div *ngIf="nameEdit.errors?.required">
                            El nombre es requerido
                        </div>
                        <div *ngIf="nameEdit.errors?.minlength">
                            El nombre debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
                <div class="col-12 my-1">
                    <label for="nombre">Apellido</label>
                    <input type="text" class="form-control" formControlName="lastname">
                    <div *ngIf="lastnameEdit.invalid && (lastnameEdit.dirty || lastnameEdit.touched)"
                        class="alert alert-danger my-2">
                        <div *ngIf="lastnameEdit.errors?.required">
                            El apellido es requerido
                        </div>
                        <div *ngIf="lastnameEdit.errors?.minlength">
                            El apellido debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
                <div class="col-12 my-1">
                    <label for="nombre">Email</label>
                    <input type="text" class="form-control" formControlName="email">
                    <div *ngIf="emailEdit.invalid && (emailEdit.dirty || emailEdit.touched)"
                        class="alert alert-danger my-2">
                        <div *ngIf="emailEdit.errors?.required">
                            El email es requerido
                        </div>
                        <div *ngIf="emailEdit.errors?.minlength">
                            El email debe tener al menos 10 caracteres
                        </div>
                        <div *ngIf="emailEdit.errors?.pattern">
                            El valor no es un email
                        </div>
                    </div>
                </div>
                <div class="col-12 my-1">
                    <label for="nombre">Dirección</label>
                    <input type="text" class="form-control" formControlName="address">
                    <div *ngIf="addressEdit.invalid && (addressEdit.dirty || addressEdit.touched)"
                        class="alert alert-danger my-2">
                        <div *ngIf="addressEdit.errors?.required">
                            La dirección es requerida
                        </div>
                        <div *ngIf="addressEdit.errors?.minlength">
                            La dirección debe tener al menos 5 caracteres
                        </div>
                    </div>
                </div>
                <div class="col-12 my-1">
                    <label for="nombre">Dirección</label>
                    <select class="form-control">
                        <option *ngFor="let localidad of localidades" value="{{ localidad.id }}"> {{ localidad.name }}
                        </option>
                    </select>

                </div>
            </div>
            <div class="mt-4 d-flex justify-content-end">
                <button type="button" class="mx-2 btn btn-outline-danger" (click)="modal.close()">Cerrar</button>
                <button type="submit" class="ml-2 btn btn-success"
                    [disabled]="!beneficiarioFormEdit.valid">Editar</button>
            </div>
        </form>
    </div>
</ng-template>

<div class="general-content">
    <div class="title">
        <h1>Beneficiarios</h1>
        <div class="search">
            <button class="search__add" (click)="openAdd = true">
                <i class="far fa-plus-square fa-lg"></i>
                Agregar Beneficiario
            </button>
            <input type="text" placeholder="Search...">
            <button class="search__btn"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre y Apellido</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Dirección</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let beneficiario of beneficiarios | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }">
                <td>{{ beneficiario.id }}</td>
                <td>{{ beneficiario.name }} {{ beneficiario.lastname }}</td>
                <td>{{ beneficiario.dni }}</td>
                <td>{{ beneficiario.email }}</td>
                <td>{{ beneficiario.address }}</td>
                <td>
                    <i class="far fa-edit fa-lg" (click)="edit(contenidoEdit)"></i>
                    <i class="far fa-trash-alt fa-lg"></i>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <pagination-controls [previousLabel]="'Ant'" [nextLabel]="'Sig'" (pageChange)="pageChanged($event)">
                    </pagination-controls>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
