<div class="general-content">
    <h1>Perfil</h1>
    <div class="col-md-6">
        <form>
            <label for="name">Usario</label>
            <input type="text" name="name" class="form-control">
            <label for="name">Email</label>
            <input type="email" name="email" class="form-control">
            <label for="password">Nueva contraseña</label>
            <input type="password" name="password" class="form-control">
            <label for="name">Confirmar Contraseña</label>
            <input type="password" name="confirm_password" class="form-control">
            <button type="submit" class="mt-4 w-100 confirm_password">Cambiar Contraseña</button>
        </form>
    </div>
</div>
