/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 100;
}

html,
body {
  margin: 0px;
  max-height: 95vh !important;
  height: 100%;
}

.container {
  height: 95%;
  max-width: 100%;
  padding-left: 0px;
}

.content {
  padding: 20px 20px;
  margin-left: 130px;
  height: 75vh;
}

.nabvar-content {
  background-color: #f7101b;
  height: 50px;
  width: 100%;
  color: #ffffff;
}

.navbar-logo {
  display: inline-block;
  text-align: left;
  font-size: 50px;
  font-weight: 800;
  margin: 5px;
  margin-left: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-logo:hover {
  border: 2px solid #fff;
  border-radius: 10px;
}

.navbar-logo a {
  text-decoration: none;
  color: #ffffff;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-items {
  text-align: right;
  float: right;
  margin: 15px 20px 0px 0px;
}


.navbar-items li {
  list-style-type: none;
  display: inline;
  padding-right: 5px;
  margin: 0 10px;
}

.navbar-items li:hover {
  cursor: pointer;
}

.navbar-items li:hover {
  border: 2px solid #ffffff;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-content {
  width: 250px;
  background-color: #f7101b;
  height: 100%;
  color: #ffffff;
  font-size: 20px;
  float: left;
}

.sidebar-items {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.sidebar-items li {
  list-style-type: none;
  display: block;
  padding-top: 10px;
  margin: 10px 0px;
}

.sidebar-items li a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar-items li:hover {
  cursor: pointer;
  animation: fadein 0.90s;
  background-color: #ffffff !important;
  height: 20px;
  margin-top: 10px !important;
  padding-left: 10px;
  padding-bottom: 40px;
  border-radius: 10px;
}

@keyframes fadein{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar-items li:hover a {
  color: #000000 !important;
}

.active {
  background-color: #ffffff !important;
  height: 20px;
  margin-top: 10px !important;
  padding-left: 10px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.active a {
  color: #000000 !important;
}

.footer-content {
  position: relative;
  float: none;
  background-color: #000000;
  height: 25px;
  color: #ffffff;
}

.footer-content p {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}


.login-main {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-content {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border: #f7101b solid 1px;
  border-radius: 10px;
}

.login-logo {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #f7101b;
  color: #ffffff;
  border-radius: 10px 0 0 10px;
}

.login-content-par {
  width: 250px;
  height: 100px;
  border: #f7101b solid 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 210px;
}

.login-text-par {
  font-size: 70px;
  font-weight: 900;
  float: left;
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 10px;
  border-right-color: #ffffff;
  border-right-style: solid;
  border-right-width: 5px;
  padding-right: 10px;
}

.login-text-leyenda {
  margin-top: 25px;
}

.login-text-leyenda p {
  margin-bottom: 0px !important;
}


.login-form {
  float: left;
  width: 50%;
  padding: 0px 25px;
  margin-top: 120px;
}

.login-form label {
  display: block;
  padding: 5px 0;
}

.login-form input {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #aca1a1;
}

.login-form input:focus {
  border-radius: 5px;
  border: 1px solid #f7101b;
}

.login-form__email,
.login-form__password {
  padding: 20px 0;
}

.login-form__btn {
  height: 40px;
  margin-top: 50px;
  width: 100%;
  color: #fff;
  background-color: #f7101b;
  border: 1px solid #f7101b;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.login-form__btn:hover {
  color: #fff;
  background-color: #d8141d;
  border: 1px solid #f7101b;
}

.login-form__header {
  font-weight: 500;
  padding: 0px 20px;
}

.general-content {
  height: calc(100% - 10vh);
  max-height: 550px;
  border: 1px solid rgb(153, 148, 148);
  border-radius: 10px;
  box-shadow: -5px 5px 20px gray;
  padding: 35px;
}

hr {
  margin: 10px 0;
}

.title {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.search {
  text-align: end;
  margin-top: 5px;
}

.search input,
button {
  padding: 5px;
}

.search__btn {
  outline: none;
  border: 1px solid rgb(153, 148, 148);
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #ffffff;
  cursor: pointer;
}

.search__btn:hover {
  color: #f7101b;
}

.search__add {
  background-color: #f7101b;
  border: 1px solid #f7101b;
  padding: 5px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.search__add i {
  margin: 0 5px;
}

.search__add:hover {
  background-color: #d8141d;
}

.search input {
  margin-left: 30px;
  border: 1px solid rgb(153, 148, 148);
  border-radius: 5px 0 0 5px;
  border-right: none;
  outline: none;
}

.search input:focus {
  border-color: #f7101b;
  padding: 5px;
}

.table {
  border: 1px solid rgb(153, 148, 148);
  border-bottom: none;
  box-shadow: -5px 5px 10px gray;
}

.table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table table thead tr th {
  border-top: none;
}

.table table thead tr {
  background-color: #e9e9e9;
  color: #2b2a2a;
}

.table table thead tr th,
.table table tbody tr td {
  padding: 0 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(153, 148, 148);
}

.table table tbody tr:hover {
  background-color: #d4d3d3;
  color: #2b2a2a;
}

.table table tbody tr td i {
  padding: 0 10px;
  margin: 0px 5px;
}

.table table tbody tr td i:hover {
  color: #f7101b;
  cursor: pointer;
}

.content-fechas {
  display: inline;
}

.fecha {
  float: left;
  margin: 5px 15px;
  border: 1px solid #aca1a1;
  border-radius: 10px;
  width: 30%;
  height: 200px;
  text-align: center;
  box-shadow: -5px 5px 10px gray;
}

.fecha .icon {
  text-align: end;
  padding: 10px;
  font-size: 20px;
  color: #424242;

}

.fecha .icon:hover {
  color: #f7101b;
  cursor: pointer;
}

.fecha-titulo {
  width: 200px;
  margin: 20px auto;
}

.fecha-titulo h3 {
  color: #f7101b;
  margin: 5px 0;
}

.fecha-titulo h4 {
  color: #333131;
}
