/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto'); */

@import url('../src/assets/css/login.css');
@import url('../src/assets/css/table.css');
@import url('../src/assets/css/navbar.css');
@import url('../src/assets/css/sidebar.css');
@import url('../src/assets/css/content.css');
@import url('../src/assets/css/fechas.css');
@import url('../src/assets/css/footer.css');

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

html,
body {
  margin: 0px;
  max-height: 95vh !important;
  height: 100%;
}

.container {
  height: 95%;
  max-width: 100%;
  padding-left: 0px;
}

.content {
  padding: 20px 20px;
  margin-left: 130px;
  height: 90vh;
}