<div class="sidebar-content">
    <div class="sidebar-items">
        <ul>
            <li routerLinkActive="active" routerLink="/main/content/home">
                <a><i class="fas fa-user-friends"></i> Home</a></li>
            <li routerLinkActive="active" routerLink="/main/content/beneficiarios"><a><i
                        class="fas fa-user-friends"></i> Beneficiarios</a></li>
            <li routerLinkActive="active" routerLink="/main/content/comercios"><a><i class="fas fa-store"></i>
                    Comercios</a></li>
            <li routerLinkActive="active" routerLink="/main/content/fechas"><a><i class="fas fa-calendar-week"></i>
                    Fechas</a></li>
            <li routerLinkActive="active" routerLink="/main/content/productos"><a><i class="fas fa-shopping-basket"></i>
                    Productos</a></li>
            <li routerLinkActive="active" routerLink="/main/content/recetas"><a><i class="fas fa-clipboard"></i>
                    Recetas</a></li>
        </ul>
    </div>
</div>
